.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 648px;
}

.dark-square{
  background-color: black;
}

.red-square{
  background-color: red;
}

li{
  list-style: none;
  border:1px solid black;
  height: 72px;
  width: 72px;
}

li:hover{
  background-color: red;
  cursor:pointer;
}
