
h1,h2{
  text-align:center;
}
h1{
  color:rgba(100, 50, 255, .8);
}
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
body{
  background-image: url(http://fjordstudio.dk/assets/img/bg/diamonds.png);
  color:white;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#board{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 648px;
}

#test{
  border:1px solid black;
  width:72px;
  height: 72px;
}

.purple-square{
  background-color: purple;
}

.yellow-square{
  background-color: yellow;
}

.red-square{
  background-color: red;
}

.blue-square{
  background-color: blue;
}



.white-square{
  background-color: white;
}

.green-square{
  background-color: lightgreen;
}

.orange-square{
  background-color: orange;
}

.black-square{
  background-color: black;
}

.bold{
  background-color: white;
}

li{
  list-style: none;
  border:1px solid black;
  height: 72px;
  width: 72px;
}

li:hover{
  /*background-color: red;*/
  cursor:pointer;
}

button{
  margin:30px;
}
